page-home {

    .toast-custom {
        background-color: rgba(0, 0, 0, 0.616);
    }

    .top-padding {
        padding-top: 90px
    }

    .overlayer-before-player-connected {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.74);
        vertical-align: middle;
        line-height: 50vh;

        p {
            text-align: center;
            font-size: 15px;
            color: #fff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .overlayer-before-start {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.74);
        vertical-align: middle;
        line-height: 30vh;

        p {
            
            text-align: center;
            font-size: 15em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-shadow: -4px 3px 0 #743424, -14px 7px 0 #27190a;
        }

        span.inscructionGame {
            margin-top: -120px;
            position: absolute;
            font-size: 13px;
            color: white;
            text-shadow: none;
        }
    }

    .img-bg {
        background: url(../assets/imgs/background-home.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    p {
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
    
    .score {
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.322);
        float: left;
        padding-top: 25px;
        text-align: center;
        border-bottom: 1px solid #fff;
        width: 100%;
        height: 35px;
        color: #fff;
        font-size: 25px;
        font-style: none;
        text-decoration: none;
        text-align: left;

        p {
            margin-top: -15px;
            margin-left: 15px;
            font-size: 15px;
        }
    }
    .response-user {    
        background: rgba(0, 0, 0, 0.63);
        float: left;
        padding-top: 25px;
        text-align: center;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 100%;
        height: 60px;
        color: #fff;
        font-size: 25px;
        font-style: none;
        text-decoration: none;
        text-align: center;

        p {
            margin-top: -10px 
        }
    }

    .keyboard {
        background: rgba(0, 0, 0, 0.479);
        padding: 0px;
        height: 360px;
        position: fixed;
        bottom: 0;
        width: 100%;

        .image-background {
            background-size: cover;
         }

        a.buttom {
            float: left;
            padding-top: 25px;
            text-align: center;
            border: 1px solid #333;
            width: 80px;
            height: 75px;
            color: #fff;
            font-size: 25px;
            font-style: none;
            text-decoration: none;

            &:hover {
                background: rgba(0, 0, 0, 0.466)
            }
        }
    }
}
